h1 {
    text-align: center;
    color: pink;
    background-color: black;
}

ul {
    display: flex;
    font-size: 20px;
    list-style: none;
}

 a {
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
 }